.contenedor{
    width:100%;   
    height: 1400px;
    background-color: #ccc299c2;


}

.encabezado{
    width:100%;
    height: 200px;
    background-color: rgb(118, 114, 85);

    
}

.menu{

    width: 100%;
    height: 100px;
    background-color: rgb(253, 252, 250);
    display: flex;
}   

.contenedor2{

    width:100%;
    height: 1200px;
    background-color: rgb(153, 132, 99);
    display:flex;
}

.izquierdo{

    width:20%;
    height: 1200px;
    background-color: rgb(68, 73, 140);

}

.centro{

    width:60%;
    height: 1200px;
    background-color: rgb(160, 145, 94);
    color: blue;
    font-size: xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;


.derecho{

    width:20%;
    height: 1200px;
    background-color: rgb(96, 80, 202);
}

.Sociales{

   width: 100px;
   height: 98px;
   background-color: rgb(172, 132, 80);
   margin: 2px;

}

.Ingles{
   width:100px;
   height:98px;
   background-color: rgb(89, 139, 139);
   margin: 2px;
   

}

.Matematicas{
    width:100px;
    height:98;
    background-color: aquamarine;
    margin: 2px;

}

.Biologia{
    width:100px;
    height:98px;
    background-color: rgb(131, 93, 44);
    margin: 2px;

}

.Tecnologia{
    width:100px;
    height:98px;
    background-color: rgb(102, 116, 116);
    margin: 2px;
}